# --- Telegram Bot Libraries ---
git+https://github.com/pyrogram/pyrogram.git@dev
tgcrypto
pyromod
aiogram

# --- Scheduling Support ---
schedule
APScheduler

# --- Database Drivers ---
pymongo
motor
dnspython

# --- Web & API Support ---
requests
aiohttp
python-dotenv
pytz
bs4
beautifulsoup4
shortzy
aiofiles
