# --- Telegram Bot Libraries ---
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.59
TgCrypto
pyromod
aiogram

# --- Scheduling Support ---
schedule
APScheduler

# --- Database Drivers ---
pymongo
motor
dnspython

# --- Web & API Support ---
requests
aiohttp
python-dotenv
pytz
bs4
beautifulsoup4
shortzy
aiofiles
asyncio
