# --- Telegram Bot Libraries ---
pyrogram==2.0.106
tgcrypto
pyromod
aiogram

# --- Scheduling Support ---
schedule
APScheduler

# --- Database Drivers ---
pymongo
motor
dnspython

# --- Web & API Support ---
requests
aiohttp
python-dotenv
pytz
bs4
beautifulsoup4
shortzy
aiofiles

